<%- include('templates/header', { user: user }) %>

<h2 class="mb-4">Welcome, <%= user.name %>!</h2>

<div class="row">
  <% images.forEach(img => { %>
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <img src="/<%= img %>" class="card-img-top" alt="Member image">
      </div>
    </div>
  <% }) %>
</div>

<%- include('templates/footer') %>